html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}


/* HEADER */

header{
  background-color: white;
}

.logo{
  width: 150px;
}

.logo img{
  width: 100%;
}

.container-navbar a{
  color: gray;
  font-weight: bold;
  text-decoration: none;
}

/* FOOTER */

.footer-left a{
  color: gray;
  font-size: small;
  text-decoration: none;
}

.footer-left li{
  padding-left: 8px;
}

footer{
  background-color: #f5f5f5;
}